.navbar .navbar-toggle {
  border: 1px solid transparent;
  width: 40px;
  height: 35px;
  line-height: 0;
  padding: 0 0 1px;
  text-align: center;
}
.navbar .navbar-toggle.pull-right {
  margin: 5px 6px 4px 0;
}
.navbar .navbar-toggle.pull-left {
  margin: 5px 0 4px 6px;
}
.navbar .navbar-toggle:active {
  top: 1px;
}
.navbar .navbar-toggle.navbar-toggle-img {
  width: auto;
  height: auto;
  overflow: hidden;
  padding: 0;
  border-width: 0;
}
.navbar .navbar-toggle.navbar-toggle-img > img {
  border-radius: inherit;
  max-height: 35px;
  border-width: 0;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #FFF;
  border-radius: 0;
  width: 24px;
  margin-left: 7px;
}
/*# sourceMappingURL=toggle-button.css.map */