/*COLORES*/
.page-content {
  color: #4b4b4b; }

.alertas {
  display: none;
  margin-top: 10%;
  position: absolute;
  z-index: 99;
  background: white;
  padding-top: 0.5em;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  left: 0;
  right: 0;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  box-shadow: 2px 2px 15px black; }
  .alertas:after {
    content: "";
    height: 0.4em;
    position: absolute;
    top: 0;
    left: 0;
    background: #c74325;
    width: 100%; }
  .alertas .titulo {
    font-size: 2.5em;
    color: #c74325; }

.listaFichas {
  /*height: 100vh;*/
  overflow-y: scroll;
  /*padding-left: 0.5em*/ }
  .listaFichas ul {
    margin: 0;
    padding-left: 0.7em; }

.elementoOculto {
  display: none; }

.nonemsg {
  font-size: 4em;
  color: lightgray;
  text-align: center;
  padding-top: 2em;
  line-height: 1em; }

/*EXTENDED*/
.estilosFicha, .ficha-01, .ficha-02, .ficha-03 {
  background-color: #f1f1f1;
  padding: 1em;
  padding-left: 3em;
  position: relative;
  list-style: none;
  margin-top: 2px;
  /*	@include lineColor(purple);
  */ }
  .estilosFicha:hover, .ficha-01:hover, .ficha-02:hover, .ficha-03:hover {
    box-shadow: 0px 0px 7px gray;
    transition: box-shadow 0.2s ease-in-out 0s; }
  .estilosFicha .nombrePaciente, .ficha-01 .nombrePaciente, .ficha-02 .nombrePaciente, .ficha-03 .nombrePaciente {
    font-size: 1.7em;
    line-height: 1.2em; }
    .estilosFicha .nombrePaciente:first-line, .ficha-01 .nombrePaciente:first-line, .ficha-02 .nombrePaciente:first-line, .ficha-03 .nombrePaciente:first-line {
      font-weight: 100; }

.fichaSelect {
  background-color: #2a9abe;
  color: white; }

.fichaDisabled {
  opacity: 0.5; }
  .fichaDisabled:hover {
    box-shadow: 0px 0px 0px white;
    transition: box-shadow 0.2s ease-in-out 0s; }

.ficha-01 {
  background-image: url(../../img/imagenologia/rayosx-01.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 6em; }
  .ficha-01:before {
    content: "";
    position: absolute;
    background-color: #c74325;
    width: 0.7em;
    left: 0;
    top: 0;
    height: 100%; }
  .ficha-01:after {
    content: "1";
    position: absolute;
    background-color: #c74325;
    top: 1em;
    left: -0.5em;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 90px;
    padding-top: 1px;
    padding-left: 10px;
    font-size: 1.3em; }

.ficha-02 {
  background-image: url(../../img/imagenologia/tomografia-01.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 6em; }
  .ficha-02:before {
    content: "";
    position: absolute;
    background-color: #4a8475;
    width: 0.7em;
    left: 0;
    top: 0;
    height: 100%; }
  .ficha-02:after {
    content: "2";
    position: absolute;
    background-color: #4a8475;
    top: 1em;
    left: -0.5em;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 90px;
    padding-top: 1px;
    padding-left: 10px;
    font-size: 1.3em; }

.ficha-03 {
  background-image: url(../../img/imagenologia/ultrasonido-01.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 6em; }
  .ficha-03:before {
    content: "";
    position: absolute;
    background-color: #fc9644;
    width: 0.7em;
    left: 0;
    top: 0;
    height: 100%; }
  .ficha-03:after {
    content: "3";
    position: absolute;
    background-color: #fc9644;
    top: 1em;
    left: -0.5em;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 90px;
    padding-top: 1px;
    padding-left: 10px;
    font-size: 1.3em; }

.topBar {
  /*padding-top: 0.5em;*/
  padding-bottom: 3em; }
  .topBar .fecha {
    font-size: 2em; }
  .topBar > p {
    margin-top: 1em; }

#calendar {
  padding-top: 3em; }

.navDerecha {
  font-size: 2em;
  padding-top: 1em; }
  .navDerecha .backEstudios {
    float: right;
    display: block;
    padding-left: 1em;
    font-size: 1.5em; }
  .navDerecha .estudioSelec {
    float: right;
    display: block;
    margin-top: 0.2em; }

.filter {
  background-color: #f1f1f1 !important;
  font-size: 1.5em !important;
  height: 2em; }

.diaConEventos {
  background-color: #f1f1f1;
  cursor: pointer; }
  .diaConEventos:hover {
    background-color: #f8f8f8; }
  .diaConEventos p {
    padding-top: 0.8em;
    text-align: center;
    font-size: 3em;
    line-height: 0.5em;
    color: #87B87F !important; }
    .diaConEventos p span {
      color: gray !important;
      font-size: 0.4em; }
    .diaConEventos p small {
      font-size: 0.5em;
      color: gray !important; }

#tipoEstudio {
  padding-top: 3em;
  display: flex;
  flex-flow: row wrap;
  width: 100%; }
  #tipoEstudio div {
    flex-flow: row;
    width: 25%;
    padding: 0.2em; }
    #tipoEstudio div .item {
      text-align: center;
      background-color: #2a9abe;
      width: 100%;
      color: white; }
      #tipoEstudio div .item:hover {
        background-color: gray; }
      #tipoEstudio div .item img {
        width: 50%; }
      #tipoEstudio div .item p {
        font-size: 1.3em; }

.mostrarEstudios {
  font-size: 2em;
  text-align: right; }

.datosPaciente {
  color: #2a9abe;
  text-align: right; }
  .datosPaciente .nombrePaciente {
    line-height: 1em;
    font-size: 1.5em; }
  .datosPaciente .estudio {
    font-size: 0.8em;
    line-height: 1em; }
  .datosPaciente select {
    font-size: 0.8em; }

.fc-event {
  display: none; }

.fc-event-container {
  display: none; }

.editor .verificar {
  float: left; }
.editor .guardar {
  float: right; }

/*login*/
#login {
  background-image: url(../../img/bgbody.jpg);
  background-repeat: no-repeat;
  background-position: right bottom; }
  #login .login {
    padding-top: 8%;
    width: 50%;
    text-align: center;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto; }
    #login .login input {
      font-size: 1.5em;
      margin-top: 1em;
      font-weight: 300;
      width: 50%;
      background-color: #f1f1f1;
      border: none;
      padding: 0.6em; }
  #login .entrar {
    margin-top: 2em;
    font-size: 1.3em;
    padding: 1em;
    border: solid 1px lightgray;
    width: 50%;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer; }
    #login .entrar:hover {
      background-color: lightgray; }
