.nav-list li.active > a:after {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  top: 4px;
  border: 8px solid transparent;
  border-width: 14px 10px;
}
.nav-list li.open > a:after {
  display: none;
}
.nav-list li.active.no-active-child > a:after {
  display: block;
}
.nav-list > li li.active > a:after {
  top: 2px;
  border-width: 14px 8px;
}
.nav-list li.active:not(.open) li.active > a:after {
  display: none !important;
}
/*# sourceMappingURL=active.css.map */