/*COLORES*/
$lightGray: #f1f1f1;
$brandColor: #2a9abe;
$color1: #c74325;
$color2: #4a8475;
$color3: #fc9644;
$color4: #D6487E;


.page-content {
	color: #4b4b4b;
}
.alertas {
	display: none;
	margin-top: 10%;
	position: absolute;
	z-index: 99;
	background: white;
	padding-top: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
	padding-bottom: 2em;
	left: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	width: 40%;
	box-shadow: 2px 2px 15px black;
	&:after{
		content: "";
		height: 0.4em;
		position: absolute;
		top: 0;
		left: 0;
		background: $color1;
		width: 100%;
	}
	.titulo{
		font-size: 2.5em;
		color: $color1;
	}
}

@mixin lineColor($colorLine, $numero:"1" ) {
	&:before{
		content:"";
		position: absolute;
		background-color: $colorLine;
		width: 0.7em;
		left: 0;
		top: 0;
		height: 100%;
	}
	&:after{
		content:$numero;
		position: absolute;
		background-color: $colorLine;
		top: 1em;
		left: -0.5em;
		color: white;
		width: 30px;
		height: 30px;
		border-radius: 90px;
		padding-top: 1px;
		padding-left: 10px;
		font-size: 1.3em;

	};
}
.listaFichas {
	/*height: 100vh;*/
	overflow-y: scroll;
	/*padding-left: 0.5em*/
	 ul {
		margin: 0;
		padding-left: 0.7em 
	}
}
.elementoOculto {
	display: none
}
.nonemsg {
	font-size: 4em;
	color: lightgray;
	text-align: center;
	padding-top: 2em;
	line-height: 1em;
}
/*EXTENDED*/
.estilosFicha {
	background-color: $lightGray;
	padding: 1em;
	padding-left: 3em;
	position: relative;
	list-style: none;
	margin-top: 2px;
	&:hover {
		box-shadow: 0px 0px 7px gray;
		transition: box-shadow 0.2s ease-in-out 0s; 
	}
	.nombrePaciente {
		font-size: 1.7em;
		line-height: 1.2em;
		&:first-line{
			 font-weight:100;
		}
	}
/*	@include lineColor(purple);
*/	
}
.fichaSelect {
	background-color: $brandColor;
	color: white;
}
.fichaDisabled {
	opacity: 0.5;
	&:hover {
		box-shadow: 0px 0px 0px white;
		transition: box-shadow 0.2s ease-in-out 0s; 
	}
}

@mixin iconImg($tipoEstudio, $imagedir:'../../img/imagenologia/') {
	background-image:  url(#{$imagedir}#{$tipoEstudio});
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 6em;
}

.ficha-01 {
	@extend .estilosFicha;
	@include lineColor($color1, '1');
	@include iconImg('rayosx-01.svg')
}
.ficha-02 {
	@extend .estilosFicha;
	@include lineColor($color2, '2');
	@include iconImg('tomografia-01.svg')

}
.ficha-03 {
	@extend .estilosFicha;
	@include lineColor($color3, '3');
	@include iconImg('ultrasonido-01.svg')

}
.topBar{
	/*padding-top: 0.5em;*/
	padding-bottom: 3em;

	.fecha{
		font-size: 2em;

	}
	>p {
		margin-top: 1em;
	}
}
#calendar{
	padding-top: 3em
} 
.navDerecha {
	font-size: 2em;
	padding-top: 1em;
	.backEstudios{
		float: right;
		display: block;
		padding-left: 1em;
		font-size: 1.5em;
	}
	.estudioSelec {
		float: right;
		display: block;
		margin-top: 0.2em
	}
}
.filter {
	background-color: $lightGray!important;
	font-size: 1.5em!important;
	height: 2em;

}

.diaConEventos{
	background-color: $lightGray;
	cursor: pointer;
	&:hover {
		background-color: #f8f8f8;
	}
	p {
		padding-top: 0.8em;
		text-align: center;
		font-size: 3em;
		line-height: 0.5em;
		color: #87B87F!important;
	span {
		color: gray!important;
		font-size: 0.4em;
	}
	small {
		font-size: 0.5em; 
		color: gray!important;

		}
	}

}

#tipoEstudio {
	padding-top: 3em;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	div {
  		flex-flow: row;
		width: 25%;
		padding: 0.2em;
		.item{
			text-align: center;
			background-color: $brandColor;
			width:100%;
			color: white;
			&:hover{
				background-color: gray;
			}
			img {
				width:50%;
			}
			p{
				font-size: 1.3em
			}
		}
	}
}
.mostrarEstudios {
	font-size: 2em;
	text-align: right;
}

.datosPaciente {
	color: $brandColor;
	text-align: right;
	.nombrePaciente {
		line-height: 1em;
		font-size: 1.5em
	}
	.estudio {
		font-size: 0.8em;
		line-height: 1em;
	}
	select {

		font-size: 0.8em
	}
}
.fc-event {
	display: none
}
.fc-event-container{
	display: none
}
.editor{
	.verificar{
		float: left;
	}
	.guardar {
		float: right;
	}
}
/*login*/

#login {
	background-image: url(../../img/bgbody.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
	.login{
		padding-top: 8%;
		width: 50%;
		text-align: center;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
		input {
			font-size: 1.5em;
			margin-top: 1em;
			font-weight: 300;
			width: 50%;
			background-color: $lightGray;
			border: none;
			padding: 0.6em
		}
	}
	.entrar {
		margin-top: 2em;
		font-size: 1.3em;
		padding: 1em;
		border: solid 1px lightgray;
		width: 50%;
		left: 0;
		right: 0;
		margin-right: auto;
		margin-left: auto;
		cursor: pointer;
		&:hover{
			background-color:lightgray;
		}

	}

}


